*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Popping', sans-serif;
}

.etiqueta{
    width:20%;
    display:inline-block;
    border: 10px;
    display: inline-block;
    color: #fff;
}
.campo{
    width:60%;
    padding: 16px;
    border: 20px;
    display:inline-block
}
.contendor{
     border: 4px;
}

.wrapper{
    position: relative;
    width: 400px;
    height: 600px;
    border-radius: 25px;
    padding: 5%;
    background-color: lightblue;
    justify-content: center;
    align-content: center;
    text-align: center;
}
main{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
}
.texto-login{
    display: inline-block;
    color: #fff;
    font-weight: 500;
}

.username-icon{
    display: inline-block;
    background-color: gray;
    position: absolute;
    margin-bottom: 50px;
}
.input{
    padding-bottom: 10px;
}
.input-username{
    display: inline-block;
    padding: 12px 0 12px 43px;
}

.input-password{
    display: inline-block;
    padding: 12px 0 12px 43px;
}



.footer{
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%;
    padding: 20px 90px;
    background: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.footer-nombre{
    display: inline-block;
    color: #fff;
    font-weight: 500;
}
.footer-credenciales{
     display: inline-block;
    color: #fff;
}
.company-icon{
    display: inline-block;
    
}

.register-nombre{
    display: inline-block;
    color: #fff;
}


input[type=text].is-invalid,input[type=password].is-invalid{
    border-color: red;
    padding-right: 20px;
    background-repeat: no-repeat;
    background-position: center right;
    background-size: 12 12;
    background-image: url("/Banca/images/is-invalid.png");    
}

